<h1>You Clicked on the item: </h1>
<h3>Name: <%= @products.name %></h2>
<h3>Price: <%= @products.price %></h3>
<h3>Discription: <%= @products.discription %></h3>
<h3><%=image_tag @products.image %></h3>

<h4>New Review</h4>

<%= form_for([@products, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
